@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invisible {
  visibility: hidden;
}

body,
.btn,
.btn:hover,
.btn:focus,
.form-control {
  color: white;
}

body {
  background-color: #1b2431;
  font-family: "ProximaNova", serif;
  min-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 85%;
  margin: 50px auto;
}

.main {
  width: 80%;
  margin: 0 auto 50px;
  flex-grow: 1;
}

.task-name {
  font-size: 35px;
}

.new-person {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px
}

.btn,
.btn:focus {
  align-self: flex-end;
  background-color: #269cf3;
}

.btn:hover,
.dropdown-menu,
.table tr {
  background-color: #273142;
}

.inputs {
  display: flex;
}

.inputs .form-group,
.inputs .age {
  width: 16.7%;
  padding-right: 5px;
}

.form-control {
  background-color: #222c3c;
  border: 1px solid #1b2431;
  border-radius: 5px;
}

.input-group-addon {
  background-color: transparent;
  border: none;
}

.table {
  border-radius: 10px;
}

.table th {
  width: 16.6%;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table tbody tr:hover {
  background-color: #2c3749;
  cursor: pointer;
}

.table>thead>tr>th {
  border-bottom: none;
}

.table>tbody>tr>td {
  border-top: 1px solid #313d4f;
}

th:first-child {
  border-radius: 10px 0 0;
}

th:last-child {
  border-radius: 0 10px 0 0;
}

.modal {
  color: #1b2431;
}

.modal td {
  padding: 5px 10px;
}

.footer {
  padding: 20px;
}